body {
	background-color: #FFF;
}
.guide {
	text-align: center;
}
.guide img {
	text-align: center;
	height: 600px;
}
.span6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.span6 .span12 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #EEE;
}
.queue { counter-reset: c; }
.tournament.queue { counter-reset: c -2; }
.tournament .champion .entry { background-color: #FFCC00; }
.tournament .challenger .entry { background-color: #99CCFF; }
.tournament .champion .entry:before { content: "Champion: "; font-weight: bold; }
.tournament .challenger .entry:before { content: "Challenger: "; font-weight: bold; }
.entry:before {
	counter-increment: c;
	content: counter(c) ". ";
}
.entry {
	padding: 1em .5em .5em .5em;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}
button {
	font-size: 1.2em !important;
	height: 100px !important;
	margin: 0 20px !important;
}