html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

#full-screen-background-image {
	z-index: -999;
	vertical-align: middle;
	min-width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

#wrapper {
	position: relative;
	background-color:rgba(0,0,0,0.5);
	margin-top: 25%;
	margin-left: auto;
	color: #333;
	vertical-align: middle;
	text-align: center;
}

#welcomeText {
	color: white;
}